
/* Color Styling and Effects */

* {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 22px;
}
body {
    width: 100vw;
    margin: 0;
    background-color: black;
    font-family:'Zilla Slab', serif;

}
h1 {
    color: #ec2f2f;
    font-size: 70px;
    margin-top: 50px;
}
h2{
    color: rgb(255, 241, 113);
    font-size: 40px;
    margin-top: 30px;
}
.instructions{
    font-size: 22px;
    border-style:double;
    margin-top: 30px;
    padding: 20px;
    border-color: indigo;
    width: 350px;
}
span {
    color: rgb(255, 241, 113);
}
button{
    font-size: 22px;
    color:indigo;
    padding: 20px 20px;
    border-radius: 20px;
    transition-duration: 0.4s;
    width: 350px;
    background-color:black;
    border-color: indigo;
    border-style: solid;
    margin: 15px;
}
button:hover{
    background-color: indigo;
    border-color: white;
    color: white;

}
.restart{
    background-color: indigo;
    transition-duration: 0.4s;
    color: white;
    border-color: white;
}
.restart:hover{
    background-color: white;
    color: indigo;
    border-color: indigo;
}
.result{
    color: rgb(255, 241, 113);
    font-size: 25px;
    margin-top: 40px;
}

/* Flexbox Styling */

.column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.score{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    margin: 25px;
}
.buttons{
    display: flex;
    justify-content: space-around;
    width: 100vw;
}
.choices{
    display: flex;
    justify-content: space-around;
    width: 100vw;
}